#addNode{
    background-color: yellow;
    margin-top:10px;
    height: 50px;
    width: 50px;
    margin-left: 5%;
    margin-right:930px;
    border: solid aqua 10px;
    border-collapse:collapse;
}
body{
	 background-image: URL(https://media.giphy.com/media/xUPGcB7dYAIBjMG2CQ/giphy.gif);
   /* background-color: #00ffff;*/
}
#cy {
    width: 600px;
    height: 600px;
    display: block;
    margin: auto;
    border: solid red;
    border-radius: 50px;
    background-color: yellow;
}
#output{
	border: 4px dashed Black;	
	width: 300px;
    height: 200px;
	float:right;
    background: silver;
	margin-top: -350px;
}
#algoritmoKrusckal{
	margin-top: 5px;
    border: solid #00ff00 10px;
    border-collapse:collapse;  
    width:285px;
	margin-right:-150px;
	background-color: #00ff00; 
}
#algoritmoDijkstra{
	margin-top: 5px;
    border: solid red 10px;
    border-collapse:collapse; 
	width:263px;
	margin-right:-50px;
	background-color: red;
}
#buttons{
	margin-left: 500px;
	margin-top:30px
}
.prima{
	background-color:#00ffff;;
}
.seconda{
	background-color:#00ffff;;
}
#legenda{
	border: dotted red 6px;
	width:400px;
	float: left;
	margin-top: 20px;
	background-color: yellow;
}